body {
    background-color: black;
}

body.planodefundo {
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    text-shadow: 1px 2px 2px rgb(228, 97, 97);
    font-size: 40px;
}

#titulo {
    position: center;
    color: rgb(206, 46, 40);
    text-shadow: 1px 2px 2px rgb(253, 253, 253);
}

h2 {
    text-align: center;
    text-shadow: 1px 1px 1px rgb(255, 132, 132);
    color: rgba(240, 2, 2, 0.699)
}

h4 {
    text-shadow: 1px 2px 2px rgb(221, 94, 94);
    display: block;
}

.foto {
    width: 8%;
    height: 8%;
    border-radius: 50%;
}

a {
    color: rgb(164, 164, 247);
    display: block;
    width: 20%;
}


.box {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formatacao {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
    /*background: black;*/
}

.link {
    display: flex;
    width: 300px;
    height: 50px;
}

.bi-linkedin {
    color: rgb(11, 57, 192);
}

.bi-github {
    color: seashell;
}

.card {
    width: 8%;
    height: 8%;
    border-radius: 50%;
}

.logo {
    float: left;
    margin-top: -100px;
    margin-left: -10px;
}

footer {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:rgb(241, 68, 68);
    margin-left: 45%;
}

#contato {
    background: red;
    border-style: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 40px;
    font-weight: bold;
}

.contato {
    font-size: 18px;
    border-style: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 60%;
    height: 50%;
    margin-top: 3%;
    margin-right: -40%;
}
